<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="Placa" />
            <input type="password" placeholder="password" />
            <select class="form-select" aria-label="Default select example">
                <option selected>Tipo de vehiculo</option>
                <option value="1">Carro</option>
                <option value="2">Moto</option>
            </select>
            <button>login</button>
        </form>
    </div>
</div>