<div class="card bg-dark text-white">
    <div class="jumbotron">
        <h1 class="display-4">Hola, Bienvenido al ADN parqueadero </h1>
        <p class="lead">Recuerda que el pico y placa se aplica a los carros y las motos que empiecen en el numero:</p>
        <hr class="my-4">
        <p>Lunes</p>
        <p>0 - 1</p>
        <p>Martes</p>
        <p>2 - 3</p>
        <p>Miercoles</p>
        <p>4 - 5</p>
        <p>Jueves</p>
        <p>6 - 7</p>
        <p>Viernes</p>
        <p>8 - 9</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/parqueadero/listar" role="button">Ver Vehiculos</a>
        </p>
    </div>

</div>