<form [formGroup]="productoForm" (ngSubmit)="cerar()">
    <div class="login-page">
        <div class="form">
            <div class="login-form">
                <h3>Ingresar Vehiculo</h3>
                <input validar type="text" id="idProducto" name="idProducto" placeholder="Placa" class="form-control" formControlName="id">
                <input validar type="text" id="descripcionProducto" name="descripcion" placeholder="Cilindraje" class="form-control" formControlName="descripcion">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Tipo de vehiculo</option>
                  <option value="1">Carro</option>
                  <option value="2">Moto</option>
                </select>

                <input matInput type="datetime-local">

                <button>login</button>
                <button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
                  Do it!
                </button>
            </div>
        </div>
    </div>
</form>