<form [formGroup]="vehiculoForm" (ngSubmit)="cerar()">
    <div class="login-page">
        <div class="form">
            <div class="login-form">
                <h3>Ingresar Vehiculo</h3>
                <select class="form-select" aria-label="Default select example" formControlName="type" type="number">
                  <option selected>Tipo de vehiculo</option>
                  <option value=0 type="number">Moto</option>
                  <option value=1 type="number">Carro</option>
                </select>
                <input validar type="text" id="plate" name="plate" placeholder="Placa" class="form-control" formControlName="plate">
                <input validar type="number" id="cc" name="cc" placeholder="Cilindraje" class="form-control" formControlName="cc">

                <input matInput type="datetime-local" formControlName="dateOfIn">

                <button type="button" class="btn btn-success" (click)="crearVehiculo()">Ingresar</button>
            </div>
        </div>
    </div>
</form>