<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Placa</th>
                <th scope="col">CC</th>
                <th scope="col">Tipo</th>
                <th scope="col">Fecha Entrada</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>1500</td>
                <td>Carro</td>
                <td>11-11-2020</td>
                <td>Activo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>150</td>
                <td>Moto</td>
                <td>11-11-2020</td>
                <td>Activo</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>2500</td>
                <td>Carro</td>
                <td>11-11-2020</td>
                <td>Activo</td>
            </tr>
        </tbody>
    </table>
</div>